<footer>
    <h2>&copy; 2023 Flo Motion</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/workouts">Find Workout</a></li>
            <li><a href="/reviews">My Workouts</a></li>
            <li><a href="/workouts/new">Add Workout</a></li>
        </ul>
    </nav>
</footer>
