<footer>
    <h2>&copy; 2023 Flo Motion</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/workouts">Workout</a></li>
            <li><a href="/workouts/new">My Workouts</a></li>
        </ul>
    </nav>
</footer>
