<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
<header class="navbar">
    <a href="/">
        <h1>FLO MOTION</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/workouts">Find Workout</a></li>
            <li><a href="/reviews">My Workouts</a></li>
            <li><a href="/workouts/new">Add Workout</a></li>
        </ul>
    </nav>
</header>
