<header>
    <h1>FLO Motion Fitness</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/workouts">Workout!</a></li>
            <li><a href="#">My Workouts</a></li>
        </ul>
    </nav>
</header>
