<header>
    <a href="/">
        <h1>FLO Motion Fitness</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/workouts">Workout!</a></li>
            <li><a href="/reviews">My Workouts</a></li>
            <li><a href="/workouts/new">Add Workout</a></li>
        </ul>
    </nav>
</header>
