<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'FLO Motion Fitness'}) %>
    
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="glassy">
        <h1>404 Error</h1>
        <p>Sorry, page not found.</p>
        <a href="/">Get back to FLO Motion!</a>
    </div>
</body>

</html>
