<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About FLO Motion`}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Helping people get moving.</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>At FLO, we are dedicated to helping individuals embark on their fitness journey and achieve a healthier lifestyle. We understand that taking the first step can be daunting, which is why we strive to make it easier for you. Our comprehensive workout guides and expert tips are designed to empower you with the knowledge and tools you need to navigate the world of fitness with confidence.</p>
            <p>By embracing the first law of motion, we firmly believe that a body in motion stays in motion. Our goal is to inspire and motivate you to get moving, whether you're a beginner or looking to switch up your workouts. We offer tailored guidance that caters to your specific needs and fitness aspirations.</p>
            <p>With FLO, you can kickstart your fitness routine and work towards becoming a fitter, stronger, and more energized version of yourself. Let us be your ultimate resource as you embark on this transformative journey.</p>
            <h2>Our Values</h2>
            <ul>
                <li>Comprehensive Guidance: We provide workout guides and expert tips to navigate the world of fitness with confidence.</li>
                <li>Motivation: We believe in embracing the first law of motion and inspiring you to get moving and stay in motion.</li>
                <li>Tailored Approach: We offer guidance and resources that cater to your specific needs and fitness aspirations.</li>
                <li>Empowerment: We aim to empower you with the knowledge and tools you need to kickstart your fitness routine.</li>
            </ul>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
