<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Add a Workout | FLO Motion Fitness'}) %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/workout-form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Create a Workout</h2>
        <h4><i>Let's get moving!</i></h4>
    </section>

    <form method="POST" action="/workouts">
        <!-- Name input -->
        <label for="name">Workout Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <!-- Exercises(#) input -->
        <label for="exercises">Number of Exercises in Workout:</label>
        <input type="number" id="exercises" name="exercises" min="0" required>
        <br>
        <!-- Sets input -->
        <label for="sets">Sets per Exercise:</label>
        <input type="number" id="sets" name="sets" min="0" required>
        <br>
        <!-- Reps input -->
        <label for="reps">Repetitions per Set:</label>
        <input type="number" id="reps" name="reps" min="0" required>
        <br>
        <!-- Cardio Amount input -->
        <label for="cardioAmount">Cardio Amount(mins):</label>
        <input type="number" id="cardioAmount" name="cardioAmount" required>
        <br>
        <!-- Custom Photo -->
        <label for="photo">Custom Photo:</label>
        <input type="text" id="photo" name="photo" required>
        <br>
            <script>
                 // Get the input element
                 const photoInput = document.getElementById('photo');
        
                 // Get the default image URL from the schema
                    const defaultImageUrl = "https://cdn1.iconfinder.com/data/icons/smashicons-fitness-yellow/60/26_-Love_Gym-_Yellow-512.png";
        
                 // Set the value of the input field to the default image URL
                photoInput.value = defaultImageUrl;
            </script>
            
        <!-- Description input -->
        <label for="description">Workout Description:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
        <input type="submit" value="Create Workout">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
