* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #333;
    scrollbar-width: 10px;
}

*::-webkit-scrollbar {
    visibility: hidden;
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 2px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    min-height: 100vh;
    margin: 0;
}

a {
    color: #f7f7f7;
    text-decoration: none;
}

/* //Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}
/* NavBar */
.navbar {
    background-color: rgb(7, 9, 24);
}

.navbar h1 {
    font-family: 'Faster One', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.navbar h1:hover {
    font-style: italic;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

.slide-in {
    position: relative;
    left: -100%;
    animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes slideInLeft {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
/* Hamburger Menu */
.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f7f7f7;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        background-color: rgb(7, 9, 24);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;

    }
}

/* top of page */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8f1f2;
    height: 40vh;
    background-image: url(https://cdn.pixabay.com/photo/2013/02/05/15/18/landscape-78058_1280.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    margin-bottom: 2rem;
}

.hero h2 {
    font-size: 3rem;
    text-align: center;
    color: #f7f7f7;
}

.hero h3 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.hero h4 {
    font-size: 1.5rem;
    text-align: center;
    color: #f7f7f7;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: rgb(19, 44, 112);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(17,39,96);
    width: calc(100vw - 1rem);
    display: relative;
    bottom: 0;
}

footer * {
    color: #fff;
}

footer ul {
    justify-content: center;
}

.footerFlo {
    text-align: center;
}
